<div id="main-info-popups" class="w-full h-full top-0 left-0 fixed pointer-events-none overflow-hidden">
    {% for message in messages %}
        <div class="max-w-2xl ml-[18rem] py-4 px-6 pr-8 left-4 bottom-4 absolute pointer-events-auto cursor-pointer text-white bg-gray-info-popup info-popup-slide-in-from-bottom" data-timeout="{{ message.timeout }}">
            <div class="w-full h-full top-0 left-0 absolute z-10" data-popup-action="close"></div>
            <p>{{ message.content }}</p>
            {% if message.timeout > 0 %}
                <div class="p-1 left-0 bottom-0 absolute bg-gray-info-popup-light info-popup-progress-bar-animation" style="animation-duration: {{ message.timeout }}ms"></div>
            {% endif %}
        </div>
    {% endfor %}
</div>
